@font-face {
    font-family: 'Gloss And Bloom';
    src: url('GlossAndBloom.woff2') format('woff2'),
        url('GlossAndBloom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

